@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 200vh;
}

.page {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    background: #1F2937;
    color: #F9FAF8;
}

.container {
    margin-right: 200px;
    margin-left: 200px;
    height: 65vh;
    justify-content: center;
}

.content {
    display: flex;
    gap: 200px;

}

.links {
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-size: 18px;
    color: #E5E7EB;
}

.right-links {
    display: flex;
    list-style: none;
    gap: 24px; /* gap between links */
    color: #E5E7EB;
    margin-right: 70px;
}


.header.main {
    font-size: 48px;
    font-weight: 800;
}

.text {
    max-width: 400px;
    margin-right: 200px;
}

.header.logo {
    list-style: none;
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8; 
    margin-bottom: 100px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 52px;
}

.size {
    max-width: 200px;
}

.card {
    width: 100px;
    height: 100px;
    border: 2px solid blue; /* creates a border with thickness */
    border-radius: 4px; /* rounds out the border  */
    box-shadow: 2px 4px 16px rgba(0,0,0,.06); /* shadow for box */
    padding: 16px; /* between border and content */
}

button {
    padding: 8px 24px;
    border-radius: 8px;
}

button.sign {
    background: #3882F6;
    color: #F9FAF8;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto; /* follows bottom of the page */
  background: #1F2937;
  color: white;
  bottom: 0;
  left: 0;
  right: 0;
  height: 76px;
}
